@import "tailwindcss";

/* ===========================
   Theme
=========================== */

:root {
  /* Brand Colors */

  --color-primary: #8b263e;
  --color-primary-hover: #731f33;

  --color-secondary: #e28743;
  --color-secondary-hover: #d2742f;

  --color-accent: #3b2a26;

  --color-background: #faf8f5;
  --color-surface: #ffffff;

  --color-text: #1a110f;
  --color-text-secondary: #6e625f;

  --color-border: #e6ded6;

  --color-success: #3e8e41;
  --color-warning: #d97706;

  /* Radius */

  --radius-sm: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;

  /* Shadow */

  --shadow-sm: 0 2px 8px rgba(0,0,0,.06);
  --shadow-md: 0 8px 24px rgba(0,0,0,.08);
}

@theme inline {

  --font-sans: var(--font-inter);
  --font-heading: var(--font-playfair);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  --color-background: var(--color-background);
  --color-surface: var(--color-surface);

  --color-text: var(--color-text);
  --color-text-secondary: var(--color-text-secondary);

  --color-border: var(--color-border);
}

body {

  background: var(--color-background);

  color: var(--color-text);

  font-family: var(--font-inter);

}